# bash_aliases file for custom aliases.

# To show 30 most used commands from bash history
alias mostused='cut -f1 -d" " .bash_history | sort | uniq -c | sort -nr | head -n 30'

# Update
alias update='sudo apt-get update'

# Upgrade
alias upgrade='sudo apt-get upgrade'

# Edit Alias
alias aliasedit='sudo vim ~/.aliases'

# Open directory, file etc. with 'gnome-open'. It can also be done with 'xdg-open'.
alias open='gnome-open'

# SpeedTest
alias speedtest='wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip'

# cd into homestead & start vagrant
alias homestead32='cd /var/www/homestead32 && vagrant resume'

# To start laravel homestead
alias vm='ssh vagrant@127.0.0.1 -p 2222'

# Copy your ssh key to clipboard
alias sshkey="cat ~/.ssh/id_rsa.pub | pbcopy && echo 'Copied to clipboard.'"

alias bower='noglob bower'

alias sub='/usr/local/bin/sub'

alias t='vendor/bin/phpunit'

alias codecept='vendor/bin/codecept'

############################################

# List Every Aliases

alias aliases='printf "\nAlias Usage

mostused = To show 30 most used commands from bash history

update = Will Update Package Index (sudo apt-get update)

upgrade = Will Upgrade Package Index (sudo apt-get upgrade)

Edit = sudo vim ~/.aliases

open = Open directory, file etc. with 'gnome-open'. It can also be done with 'xdg-open'.

speedtest = Test Your Network Speed
 
homestead32 = cd into homestead32 and boots up the box 

vm = ssh into vagrant box

sshkey = Copy your ssh key to clipboard
"'
